body{
	/*text-align: center;*/
	font: 12px/1.14 "Arial","Hiragino Sans GB", \5b8b\4f53, "Georgia", "serif";
	/*margin: 0 auto;*/
}
a{
	text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
.body2 p{
	display: none;
}

.f-a{
	font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
	color: #fff;
}
.rel{
	position: relative;
}
.g-warp{
	width: 100%;
}
.topnav{
	height: 36px;
  	background: #ebebeb;
  	border-bottom: 1px solid #ddd;
  	z-index: 900;
}
.clear{
	zoom: 1;
}
.header{
	width: 1180px;
	margin: 0 auto;
}
.right{
	float: right;
}
.left{
	float: left;
}
.u-nav{
	padding: 11px 0;
	line-height: 14px;
}
.wel-span{
	color: #666;
	text-decoration: none;
}
.li{
	padding: 0 6px;
}
.midnav{
	height: 110px;
  	background: #fff;
  	z-index: 700;
}
.containerStyle{
	margin: 0 auto;
	width: 1180px;
	height: 100%;
}
.logo{
	width: auto;
  	height: auto;
  	background-position: 0 0;
}
.search{
	width:385px;
	height: 35px;
	margin-top: 45px;
}
#getS{
	display: inline;
	float: left;
	width: 350px;
	height: 35px;
	color: #999;
}
#getB{
	float: right;
	display: inline;
	width: 35px;
	height: 35px;
}
.footnav{
	z-index: 800;
  	height: 40px;
  	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.main{
	height: 100%;
	background-color: #323232;
}
/*#ulSty{
	  display: block;
	  list-style-type: disc;
	  -webkit-margin-before: 1em;
	  -webkit-margin-after: 1em;
	  -webkit-margin-start: 0px;
	  -webkit-margin-end: 0px;
	  -webkit-padding-start: 40px;
}*/
.mainnav{
	height: 40px;
}
.liStyle{
	float: left;
	display: block;
	font-size: 16px;
	line-height: 40px;
	height: 38px;
	border: 0.5px solid #323232;
	transition: 0.4s;
	list-style: none;
	text-align: -webkit-match-parent;
/*	margin-top: -12px;*/
}
.liStyle a{
	display: block;
  	padding: 0 10px;
  	font-size: 16px;
  	font-weight: bold;
  	line-height: 40px;
  	height: 38px;
  	border: 1px solid #323232;
  	transition: 0.4s;
  	text-overflow: ellipsis;
  	white-space: nowrap;
	color: #fff;
	text-decoration: none;
}
.liStyle a:hover{
	text-decoration: none;
	display: block;
	height: 40px;
	background-color: #616265;
	color: #fff;
	font-size: 16px;
}
.firstMain{
	padding-top: 48px;
	height: auto;
}
.indedxCotainer{
	/*background-color: #F0F0F0;*/
	width: 1180px;
	/*padding-top: 48px;*/
	margin: 0 auto;
}
.indexColor1{
	background-color: #008000;
	margin-right: 20px;
	width: 180px;
  	height: 315px;
  	padding-top: 28px;
  	transition: .5s;
}
.hn{
	font-size: 40px;
  	font-weight: normal;
  	margin-top: 30px;
  	text-align: center; 	
}
.ulList{
	padding: 0 12px 0 26px;
	margin-top: 40px;
  	font-size: 14px;
  	list-style-type: disc;
  	display: block;
}
.ulList li{
	display: inline-block;
  	margin-bottom: 2.5em;
  	margin-left: 10px;
  	width: 4em;
  	text-align: left;
  	white-space: nowrap;
}
.ulList li a{
	color: white;
	font-size: 20px;
	font-weight: bolder;
}
.picBigA{
	width: 380px;
  	margin-left: 0;
  	transition: .5s;
  	min-height: 147px;
  	margin-bottom: 21px;
  	display: block;
  	float: left;
}
.picBigSpan{
	height: 268px;
	transition: .5s;
  	background-color: #e6e6e6;
  	overflow: hidden;
  	display: block;
  	/*position: relative;*/
}
.imgBig{
	display: block;
	width: 100%;
	vertical-align: top;
	-webkit-transition: 1.2s;
  	transition: 1.2s;
}
.imgBig:hover{
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}
.picDiv{
	width: 980px;
}
.picDiv a{
	text-decoration: none;
}
.picDiv a:hover{
	color: #008000;
}
.picBigSpanF{
	font-size: 16px;
	height: 1.25em;
  	overflow: hidden;
  	margin-top: .65em;
  	line-height: 1.25em;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	transition: .25s;
  	font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
  	display: block;
}
.picBigSpanS{
/*	margin-left: -10px;*/
	margin-top: .35em;
 	white-space: nowrap;
  	color: #999;
  	display: block;
}
.picSmallA{
	margin-left: 20px;
	width: 180px;
  	min-height: 147px;
    margin-bottom: 21px;
    display: block;
    text-decoration: none;
    
}
.picSmallSpan{
	transition: .5s;
  	background-color: #e6e6e6;
  	height: 100px;
  	overflow: hidden;
  	display: block;
  	position: relative;
}
.imgSmall{
	display: block;
	width: 100%;
	vertical-align: top;
	-webkit-transition: 1.2s;
  	transition: 1.2s;
}
.imgSmall:hover{
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}
.imgText{
	display: block;
	top: -23px;
	font-size: 14px;
	width: 100%;
  	bottom: 0;
  	padding: 0 .5em;
  	line-height: 1.5em;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    position: relative;
}
.imgTextSmall{
	font-size: 14px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	line-height: 1.5em;
	display: block;
	bottom: 0;
	padding: 0 .5em;
	position: absolute; 
}
.picSmallSpanF {
	height: 1.25em;
  	overflow: hidden;
  	margin-top: .65em;
  	font-size: 14px;
  	line-height: 1.25em;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	transition: .25s;
}
.picSmallSpanS {
	margin-top: .35em;
  	white-space: nowrap;
  	color: #999;
  	display: block;
}
.footer{
	border-top: 1px solid #ddd;
  	background: #e6e6e6;
  	padding: 20px 0;
 	text-align: center;
}
/* zhaosen*/
.clearfix{clear: both;}
.carousel-inner > .item>img,.carousel-inner > .item > a > img{display: inline-block;}
.carousel-inner > .active{text-align: center;}
.footerC span{
	display: block;
}
/*zhaosen*/
.main{
	height: 100%;
	background-color: #323232;
}

.breadO{
	background: #f5f5f5;
  	height: 83px;
  	z-index: 100;
  	position: relative;
}
.breadNav{
	width: 1180px;
	margin: 0 auto;
}
.breadL{
	padding: 10px 0 0 0;
	float: left;
}
.bread{
	line-height: 18px;
  	padding: 4px;
}
.bread a{
	color: #999;
	text-decoration: none;
	
}
.bread a:hover{
	color: black;
}
.bread span{
	color: #999;
	font-family: 'icomoon';
  	speak: none;
}
/*.className{
	font-size: 21px;
  	line-height: 26px;
  	color: #333;
}*/
.className span{
	top: -10px;
	max-width: 605px;
	font-size: 24px;
	font-weight: bold;
  	line-height: 26px;
  	position: relative;
}
.indexMain{
	width: 100%;
	height: auto;
	background-color: #262a2d;
	z-index: 99;
  	padding: 25px 0;
}
.video{
	width: 1180px;
	margin: 0 auto;
}
.videoF{
	min-height: 415px;
  	background: #000;
  	box-shadow: 0 0 20px #111;
  	margin: 0 auto;
  	position: relative;
  	width: 860px;
}
.videoS{
	position: relative;
  	top: 0;
  	width: 900px;
  	height: 485px;
  	min-height: 415px;
  	z-index: 2;
}
iframe{
	height: 485px;
	width: 900px;
}
.jieshaoVideo{
	clear: both;
	background-color: #f0f0f0;
	padding: 40px 0;
}
.containerVideo{
	width: 1180px;
	height: 200px;
	margin: 0 auto;
	background-color: white;
	padding: 20px 20px;
}
.containerVideo a{
	height: auto;
	width: auto;
}
.containerVideo a img{
	float: left;
}
.containerVideo h3{
	margin: 0 10px;
	position: relative;
	left: 10px;
	font-size: 25px;
	font-weight: bolder;
	color: #323232;
	border-bottom: 1px;
}
.containerVideo p{
	position: relative;
	top: 10px;
	left: 10px;
	
}
.courseA{
	padding: 20px;
  	border-bottom: 2px solid #399466;
  	background: #f4f4f4;
  	height: 330px;
  	width: 1180px;
  	margin: 0px auto;
}
.courseA img{
	float: left;
	margin-right: 20px;
}
.courseT h2{
	font-size: 27px;
  	text-align: left;
  	line-height: 33px;
  	-webkit-margin-before: 0.1em;
  	-webkit-margin-after: -0.1em;
  	font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
  	font-weight: normal;
}
.courseT p{
	line-height: 23px;
	margin: 0;
}
.blank{
  	height: 15px;
  	overflow: hidden;
  	display: block;
}
.plybtn{
	display: block;
  	width: 140px;
  	height: 55px;
  	position: relative;
  	margin-left: 1000px;
  	margin-top: 60px;
  	
  	background: url(../images/play.png);
}
.plybtn:hover{
	display: block;
  	/*width: 140px;
  	height: 55px;
  	position: relative;
  	padding-top:30px ;
  	float: right;*/
  	background: url(../images/playSelect.png);
}
.courseList{
	clear: both;
	width: 1180px;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
	background-color: white;
	padding: 20px 20px;
	border-bottom: 2px solid #399466;
}
.courseListLeft{
	float: left;
  	width: 650px;
}

.courseTop h2{
	font-size: 20px;
  	width: 400px;
  	float: left;
  	font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
  	color: #444;
  	font-weight: normal;
  	padding: 15px -20px 15px 15px;
}
.courseDown{
	width: 100%;
	float: left;
	border-top: 1px solid #ddd;
  	text-align: left;
  	padding-bottom: 1em;
}
.CDown{
	  margin-bottom: 10px;
}
.CDown1{
	height: 36px;
  	line-height: 36px;
  	cursor: pointer;
}
.CDown1:hover{
	background-color: rgb(226,250,221);
}
.CD1Span0{
	width: 62px;
  	color: #999;
  	text-align: left;
  	font-size: 14px;
  	float: left;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
.CD1Span1{
	width: 450px;
  	padding-left: 6px;
  	color: #333;
  	height: 36px;
  	float: left;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
  	
}
.CD1Span2{
	font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
  	font-size: 14px;
  	color: #444;
  	float: right;
}
.teacherDown{
	margin-top: 10px;
	width: 100%;
	border-top: 1px solid #ddd;
  	text-align: left;
  	padding-bottom: 1em;
}
.teacherDown p{
	width: 350px;
	overflow: hidden;
}
.courseListRight{
	float: right;
	width: auto;
}
/*zhaosen test option1.html*/
 .test{
 	display: none;
 }
/*zhaosen*/