@charset "utf-8";
img{
	max-width: 100%;
}
h4{
	font-size: 16px;
	font-family: "微软雅黑";
}
.wrapper{	
	width: 100%;
	height: 900px;
	background-color: #f0f0f0;
	overflow: hidden;
}
.top{
	width: 100%;
	height: 50px;
	background-color: #fff;
	margin: 0px;
}
.logo{
	width: 135px;
	height: 50px;
	float: left;
}
.top-right{
	width: 100%;
	height: 50px;
	padding-top: 15px;
}
.top-right ul{
	float: right;
}
.top-right li{
	margin-right: 20px;
	list-style: none;
	float: left;
}
.top-right a{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #101010;
}
.head{
	margin: 0px;
	width: 100%;
	height: 75px;
	position: absolute;
	top: 50px;
}
.login-shouye{
	width: 200px;
	height:75px;
	position: absolute;
	background-color: #43c2cb;
	padding-left: 60px;
	padding-top: 25px;

}
.shouye{
	width: 200px;
	height:74px;
	position: absolute;
	background-color: #2e2828;
	padding-left: 60px;
	padding-top: 25px;
	top: 1px;
}

.login-shouye img{
	position: absolute;
	left: -26px;
}
.login-shouye a{
	font-size: 17px;
	font-family: "微软雅黑";
	color: #f5f7fa;
	position: absolute;
	left: 90px;
	text-decoration:none;
}

.shouye img{
	position: absolute;
	left: -26px;
}
.shouye a{
	font-size: 17px;
	font-family: "微软雅黑";
	color: #f5f7fa;
	position: absolute;
	left: 90px;
	text-decoration:none;
}
.head-title{
	height: 75px;
	position: absolute;
	left: 200px;
	width: 1149px;
	background-image: url(../images/logo_bg.png);
	background-repeat:no-repeat;
	background-position: center;
}
.head-title h3{
	color: #f5f7fa;
	position: absolute;
	font-family: "微软雅黑";
	top: 5px;
	left: 20px;
}
.head-title p{
	color: #f5f7fa;
	font-size: 16px;
	position: absolute;
	font-family: "微软雅黑";
	top: 27px;
	left: 265px;
}
.content{
	margin-top: 75px;
}

.content .login,.register{
	text-align: center;
}

#input{
	width: 198px;
	margin: 10px;
	border: 0px;
	background-color: #f0f0f0;
	border-bottom: solid 1px #bbbbbb;
}
#input:focus {
    border-bottom: solid 1px #bbbbbb;
    outline: 0;
}
.checkbox{
	position: relative;
	left: -72px;
}

.loginBtn{
	padding: 0px;
	border: 0px;
	border-radius: 0.25rem;
	background-color: #20bdf0;
	margin: 10px;
	width: 230px;
	height: 30px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
}

.login .checkbox{
	color: #636363;
	font-size: 13px;
	font-family: "微软雅黑";
}
.login a,.register a{
	font-family: "微软雅黑";
	text-decoration: none;
}

.slideNav{
	padding: 0px;
	width: 215px;
	height: 780px;
	background-color: #484848;
}
.slideNav .panel{
	outline: none;
	border: 0px;
	background-color: #484848;
}

.slideNav .panel a{
	text-align: left;
	font-family: "微软雅黑";
	margin-left:50px; 
}
.slideNav .panel-heading img{
	margin-right: 5px;
	position: relative;
	top: -2px;
}
.slideNav .panel-heading a{
	color: #fff;
	font-size: 14px;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0px;
    line-height: 5px;
}

.slideNav .panel-heading a:hover{
	text-decoration: none;
	color: #fff;
}
.slideNav .panel-heading a:visited{
	text-decoration: none;
	color: #fff;
}
.slideNav .panel-body{
	padding-left: 40px;
}
.slideNav .panel-body a{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
.slideNav .panel-body a:hover{
	color: #20bdf0;
	text-decoration: none;
}
.breadcrumb a{
	text-decoration: none;
	color: #484848;
	font-family: "微软雅黑";
}
.bread{
	height: 50px;
	border-bottom:1px solid #d9d9d9;
}
.bread ul{
	position: relative;
	top: 10px;
	background-color: #f0f0f0;
}
.viewList{
	margin-left: 20px;
}
.view{
	border-radius: 0.25rem;
	padding: 10px 0 0 0;
	width: 500px;
	height: 130px;
	margin:20px 0 20px 20px;
	background-color: #fff;
}
.view img{
	position: relative;
	left: 20px;
}
.view .col-md-9{
	height: 119px;
	padding:0px;
}
.view h4{
	font-size: 16px;
	font-weight: 800;
	font-family: "微软雅黑";
	color: #484848;
}
.view p{
	line-height: 20px;
	height: 40px;
	font-family: "微软雅黑";
	position: relative;
	top: 10px;
	color: #636363;
}
.view a{
	text-decoration: none;
	color: #ebe8eb;
	font-family: "微软雅黑";
}
.view button{
	position: relative;
	left: 200px;
	width: 80px;
	height: 30px;
	border: 0px;
	border-radius: 0.25rem;
	background-color: #20bdf0;
}

th,td{
	font-family: "微软雅黑";
	text-align: center;
}
.userList h4{
	font-family: "微软雅黑";
}
.table a{
	font-family: "微软雅黑";
	color: #20bdf0;
}
.table>tbody>tr>td{
    border-top: 0px;
}

form{
	margin: 30px 0 0 100px;
}

.form-horizontal .control-label {
	font-family: "微软雅黑";
	font-size: 12px;
	width: 90px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

form .btn{
	padding: 0px;
	width: 53px;
	height: 27px;
	background-color: #20bdf0;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #f0ebf0;
}
form .btn:hover{
	color: #f0ebf0;
}

.shopRadio{
	margin: 2px 8px 0 0;
	font-family: "微软雅黑";
	font-size: 12px;
}
form input[type=radio]{
	position: relative;
	top: 3px;
    line-height: normal;
}
.choose{
	margin-left: 10px;
	font-size: 14px;
	color: #01c8ef;
}

.tag{
	height: 320px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.public{
	margin-top: 6px;
}
.pulic input{
	margin-top: 10px;
}
#res{
	position: absolute;
	top: 245px;
	left: 800px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ed1c24;
}

#add_course{
	display: none;
	background-color: red;
}

